{% extends './layouts/base.html.twig' %}
{% block title %} Profil {% endblock %}



{% block body %}
    {% include './layouts/navbar.html.twig' %}
    <h1>Account information</h1>
    <div class="pp">

        {% if user.profilePicture %}
            <img src="{{ asset('uploads/profile_pictures/'~user.profilePicture) }}" alt="Film">
        {% else %}
            <img style="max-height: 200px; max-width: 200px; height: auto; width: auto" src="{{ asset('images/default.webp') }}" alt="pp">
        {% endif %}
    </div>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Surname</th>
            <th>Firstname</th>
            <th>Birthdate</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.getId }}</td>
                <td>{{ user.getEmail }}</td>
                <td>{{ user.getSurname }}</td>
                <td>{{ user.getFirstname }}</td>
                <td>{{ user.getBirthdate | date }}</td>
            </tr>
        </tbody>
    </table>
    <a href={{ path('acc_send_email_reset') }}>Change password</a>
    <a href={{ path('acc_update_profile') }}>Modify account</a>
{% endblock body %}