{% extends './layouts/base.html.twig' %}
{% block title %} Profil {% endblock %}



{% block body %}
    {% include './layouts/navbar.html.twig' %}
    <h1>Account information</h1>
    {% if user.profilePicture %}
        <img src="{{ asset('uploads/profile_pictures/' ~ user.getEmailReplaced) ~ '.png' }}" alt="Film">
    {% else %}
        <img style="max-height: 200px; max-width: 200px; height: auto; width: auto" src="{{ asset(image_path) }}" alt="Film {{ movie.getTitle }}">
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Surname</th>
            <th>Firstname</th>
            <th>Birthdate</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.getId }}</td>
                <td>{{ user.getEmail }}</td>
                <td>{{ user.getSurname }}</td>
                <td>{{ user.getFirstname }}</td>
                <td>{{ user.getBirthdate | date }}</td>
            </tr>
        </tbody>
    </table>
    <a href={{ path('app_send_email_reset') }}>Change password</a>
    <a href={{ path('app_update_profile') }}>Modify account</a>
{% endblock body %}