{% extends './layouts/base.html.twig' %}
{% block title %} Profil {% endblock %}



{% block body %}
    {% include './layouts/navbar.html.twig' %}
    <h1>Account information</h1>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Surname</th>
            <th>Firstname</th>
            <th>Birthdate</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.getId }}</td>
                <td>{{ user.getEmail }}</td>
                <td>{{ user.getSurname }}</td>
                <td>{{ user.getFirstname }}</td>
                <td>{{ user.getBirthdate | date }}</td>
            </tr>
        </tbody>
    </table>
    <a href={{ path('app_send_email_reset') }}>Change password</a>
{% endblock body %}