{% extends './layouts/base.html.twig' %}

{% block title %}Login{% endblock title%}

{% block body %}
    {% include './layouts/navbar.html.twig' %}

    <div class="container">
        <h1>Bienvenue</h1>

        <div class="form-toggle-btns">
            <button style="background-color: #555555" onclick="showLoginForm()">Connexion</button>
            <button style="background-color: #555555" onclick="showRegisterForm()">Inscription</button>
        </div>

        {# Formulaire de Connexion #}
        <div id="login-form" class="form-container active">
            <h2>Se connecter</h2>
            <form action="{{ path('app_signin') }}" method="post">
                <div>
                    <label for="username">Email :</label>
                    <input style="background-color: #555555" type="text" id="username" name="registration_form[email]" required autofocus>
                </div>

                <div>
                    <label for="password">Mot de passe :</label>
                    <input style="background-color: #555555" type="password" id="password" name="_password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button style="background-color: #555555" type="submit">Se connecter</button>
            </form>
        </div>

        {# Formulaire d'Inscription #}
        <div id="register-form" class="form-container" style="display: none;">
            {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm) }}
            <button type="submit">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

    <script>
        function showLoginForm() {
            document.getElementById('login-form').style.display = 'block';
            document.getElementById('register-form').style.display = 'none';
        }

        function showRegisterForm() {
            document.getElementById('register-form').style.display = 'block';
            document.getElementById('login-form').style.display = 'none';
        }
    </script>
{% endblock body %}
