
<nav class="navbar">
    <div class="logo">MonFlix</div>
    <ul class="nav-links">
        <li><a href="{{ path('home') }}">Accueil</a></li>
        <li><a href="">Séries</a></li>
        <li><a href="">Films</a></li>
        {% if not(is_granted("ROLE_ADMIN") or is_granted("ROLE_USER")) %}
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
            <li><a href="{{ path('app_signin') }}">Créer un compte</a></li>
        {% else %}
            <li><a href="{{ path('app_profile') }}">Profil</a></li>
            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% endif %}
    </ul>
</nav>
