{% extends 'banner.html.twig' %}

{% block title %}Accueil - Mon Site de Streaming{% endblock %}

{% block content %}
    <section class="categories">
        <div class="movie-row">
            {% for movie in movies %}
                <div class="movie-item">
                    <img src="{{ asset(image_path) }}" alt="Film {{ movie.getName }}">
                    <h3>{{ movie.getName }}</h3>
                    <p>{{ movie.getSynopsis }}</p>
                    <p>Sortie : {{ movie.getReleaseDate|date('d-m-Y') }}</p>
                    <a href="{{ path('app_movie_update', { 'id': movie.getId }) }}">Update</a>
                    <a href="">Delete</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
