{% extends './layouts/base.html.twig' %}

{% block title %} Home {% endblock title %}

{% block body %}
    {% include './layouts/navbar.html.twig' %}

    <section class="banner">
        <div class="banner-content">
            <h1>Film du Moment</h1>
            <p>Regardez le dernier film à succès dès maintenant !</p>
            <button>Lire</button>
            <button>Ajouter à Ma Liste</button>
        </div>
    </section>

    <section class="categories">
        <div class="movie-row">
            {% for movie in movies %}
                <div class="movie-item">
                    <img src="{{ asset(image_path) }}" alt="Film {{ movie.getName }}">
                    <h3>{{ movie.getName }}</h3>
                    <p>{{ movie.getSynopsis }}</p>
                    <p>Sortie : {{ movie.getReleaseDate|date('d-m-Y') }}</p>
                    {% if is_granted("ROLE_ADMIN") %}
                        <th> <a href="movies/update/{{ movie.getId }}"> Update </a></th>
                        <th> <a href="movies/delete/{{ movie.getId }}"> Delete </a></th>
                    {%  endif %}
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock body %}
