{% extends './layouts/base.html.twig' %}

{% block title %} Home {% endblock title %}

{% block body %}
    {% include './layouts/navbar.html.twig' %}

    <section class="banner">
        <div class="banner-content">
            <h1>Film du Moment</h1>
            <p>Regardez le dernier film à succès dès maintenant !</p>
            <button>Lire</button>
            <button>Ajouter à Ma Liste</button>
        </div>
    </section>

    <section class="categories">
        <table class="movie-table">
            <thead>
            <tr>
                <th>Affiche</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Date de sortie</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr class="movie-row">
                    <td>
                        <img style="max-height: 200px; max-width: 200px; height: auto; width: auto" src="{{ asset(image_path) }}" alt="Film {{ movie.getName }}">
                    </td>
                    <td>{{ movie.getName }}</td>
                    <td>{{ movie.getSynopsis }}</td>
                    <td>{{ movie.getReleaseDate|date('d-m-Y') }}</td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a href="{{ path('app_movie_update', { id: movie.getId }) }}">Update</a> |
                            <form action="{{ path('app_movie_delete', { id: movie.getId }) }}" method="post" style="display:inline;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" onclick="return confirm('Are you sure you want to delete this movie?');">Delete</button>
                            </form>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>


{% endblock body %}