{% extends './layouts/base.html.twig' %}

{% block head %}
    <meta charset="UTF-8">
    <title>
        Home
    </title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}" >

    <script>
        function checkboxChanged(checkbox, movie_id, user_id) {
            let status = checkbox.checked ? 201 : 205;

            fetch('{{ path('app_to_watch_later_check') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    movie_id: movie_id,
                    user_id: user_id,
                    status: status
                })
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error("Erreur:", error));
        }
    </script>
{% endblock head %}


{% block body %}
    {% include './layouts/navbar.html.twig' %}



    <section class="categories">
        <table class="movie-table">
            <thead>
            <tr>
                <th>Affiche</th>
                <th>Titre</th>
                <th>Synopsis</th>
                <th>Date de sortie</th>
                {% if is_granted("ROLE_ADMIN") %}
                    <th>Actions</th>
                {% endif %}
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <th>to watch later</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr class="movie-row">
                    <td>
                        <a href="movies/watch/{{ movie.id }}">
                        {% if movie.coverImage %}
                            <img src="{{ asset('uploads/covers/'~movie.coverImage) }}" alt="Film">


                        {% else %}
                            <img style="max-height: 200px; max-width: 200px; height: auto; width: auto" src="{{ asset(image_path) }}" alt="Film {{ movie.getTitle }}">
                        {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="movies/watch/{{ movie.id }}">
                            {{ movie.getTitle }}
                        </a>
                    </td>
                    <td>{{ movie.getSynopsis }}</td>
                    <td>{{ movie.getReleaseDate|date('d-m-Y') }}</td>
                    {% if is_granted("ROLE_ADMIN") %}
                        <td>
                            <a href="movies/update/{{ movie.getId }}">Update</a> |
                            <a href="movies/delete/{{ movie.getId }}">Delete</a>
                        </td>
                    {% endif %}

                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}

                        <td>
                            <label>
                                <input type="checkbox" onclick="checkboxChanged(this, {{ movie.id }}, {{ user.id }})">
                            </label>
                        </td>

                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>


{% endblock body %}