<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Create a movie</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<h1>Page home</h1>




<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Synopsis</th>
            <th>Release Date</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
        <tr>
            <th>{{ movie.getId }}</th>
            <th>{{ movie.getName }}</th>

            <th>{{ movie.getSynopsis }}</th>
            <th>{{ movie.getReleaseDate | date }}</th>
            <th> <a href="movies/update/{{ movie.getId }}"> Update </a></th>
            <th> <a href="movies/delete/{{ movie.getId }}"> Delete </a></th>
        </tr>
        {% endfor %}


    </tbody>



</table>